* {
    margin: 0%;
    padding: 0%;
}
.cabecalho {
    background-color:#0C977E;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}
.cabecalho-imagem {
    width: 15%;
}
.cabecalho-lista-item {
  display: inline block;
    margin: 16px;
    font-size: 48 px;
}
