* {
    margin: 0%;
    padding: 0%;
}
.cabecalho {
    background-color:#045C4D;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem {
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.turma{
    background-image: linear-gradient(#045C4D, #83ebd9 );
    font-size: 24px;
    padding: 50px 250px ;
}
.turma-titulo{
    padding-bottom: 50px;
}
.turma-imagem{
    width: 300px;
}
fo
