/*seletor universal*/* {
    margin: 0%;
    padding: 0%;}

body{
    font-family: sans-serif; 'jost';}
    
.cabecalho {
    background-color:#045C4D;
    color:white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-size: 24px;}

.cabecalho-imagem {
    width: 100px;
    height: 100px;}

.cabecalho-item{
    display: inline-block;
    padding: 0  30px;}

.turma{
    background-image: linear-gradient(#045C4D, #83ebd9 );
    font-size: 25px;
    padding: 50px 200px ;}

.turma-titulo{
    padding-bottom: 30px;
text-align: center;
}

    .turma-div{display: flex;
    justify-content: center;}

.turma-imagem{
    width: 400px;}

.estudante{
        background-image: linear-gradient(#045c4d, #94dbcec2); }

.estudante-div{text-align: center;}

.estudante-imagem{width: 120px;}

.estudante-icone{width: 54px;}

